* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 25px;
  letter-spacing: 5px;
}

#yellow-block {
  position: absolute;
  margin-top: 7px;
  margin-left: 56px;
  width: 19px;
  height: 19px;
  background-color: rgba(255, 201, 4, 0.500);
  border-radius: 0.25rem;
}

#sentence {
  margin-left: 51px;
}

.keyboard-container {
  margin-top: 1 00px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1da83f;
}

.glyphicon-remove {
  color : #de3241;
}

.highlight {
  background-color: rgba(255, 201, 4, 0.550);
}

#yesBtn {
  margin: 0 auto;
}

#noBtn {
  margin: 0 auto;
}